 @media screen and (min-width: 500px and max-width:930px) {
     
        
    }
    @media screen and (min-width: 940px and max-width:1920px) {
    
    }
    
  
 	.modal-dialog {
    position: relative;
    overflow-y: auto;
     width: 900px;
    height: 900px;
    
} 
/* .modal-content{
	border-top: 16px solid #0d94d2;
	border-bottom:16px solid #0d94d2;
} */
    
    .main-panel{
    background-color:#fff;
    
    } 
  /*  Comment/chat style */ 
    .chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    font-size:small;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 270px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
    
    
    
   .search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 25px 25px 25px 25px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
  pointer-events: initial;
}  
.ui-jqgrid .ui-jqgrid-view, .ui-jqgrid .ui-paging-info, .ui-jqgrid .ui-pg-table, .ui-jqgrid .ui-pg-selbox {
    font-size: 10px;
}
	.ui-jqgrid tr.ui-row-ltr td { border-right-color: transparent; }
        .ui-jqgrid tr.ui-row-ltr td { border-bottom-color: transparent; }
        .ui-jqgrid { border-width: 0px; }
        .ui-jqgrid { border-right-width: 0px; border-left-width: 0px; }
        th.ui-th-column { border-right-color: transparent !important }


.ui-jqgrid-btable .ui-widget-content.ui-priority-secondary {
    background-image: none;
    background-color: 
    opacity: 1;
}

.ui-jqgrid-btable .ui-widget-content.ui-state-hover {
    background-image: none;
    background-color: #b6dcf9;
    opacity: 1;
}

.ui-jqgrid-btable .ui-widget-content.ui-state-highlight {
    background-color: #b6dcf9;
}

.ui-jqgrid .ui-jqgrid-pager {
    line-height: 19px;
    height: 35px;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    background-color: #a0a3a5!important;
    border-bottom: 1px solid #a0a3a5;
    border-top: 1px solid #a0a3a5; 
}

.ui-jqgrid .ui-pg-input {
    font-size: inherit;
    width: 15px;
    height: 10px;
    line-height: 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
}

.ui-jqgrid .ui-pg-selbox {
    display: block;
    height: 24px;
    margin: 0;
    padding: 1px;
    line-height: normal;
}

.ui-jqgrid .ui-jqgrid-htable th div {
    overflow: visible;
}

.ui-jqgrid .ui-pager-control {
    height: 50px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.ui-jqgrid .ui-jqgrid-toppager {
    height: auto!important;
    background-color:#a0a3a5;
    /*#f2f3f4-grey   #eff3f8-blue*/
     border-bottom: 1px solid #E1E1E1!important; 
}

.ui-jqgrid .jqgrow .editable {
    max-width: 90%;
    max-width: calc(92%)!important;
}

.ui-pg-table .navtable .ui-corner-all {
    border-radius: 0;
}

.ui-jqgrid .ui-pg-button:hover {
    padding: 1px;
}

@media only screen and (max-width:767px) {
    .ui-jqgrid .ui-jqgrid-pager {
    height: 90px;
}

.ui-jqgrid  .ui-paging-pager td {
	padding : 0 0;
}

.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control {
	height: 85px;
	padding-top: 9px;
}

.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td {
    vertical-align: top;
}

.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center {
    width: 0!important;
    position: static;
}

.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center>.ui-pg-table {
    margin: 36px auto 0;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
}

}@media only screen and (max-width:767px) and (-webkit-min-device-pixel-ratio:0) {
	.ui-jqgrid .ui-jqgrid-pager>.ui-pager-control>.ui-pg-table>tbody>tr>td#grid-pager_center>.ui-pg-table {
		width: 500px;
	}
}

table {
	font-family:Arial,Verdana,sans-serif;
	font-size:1.1em; 
	color:#000;
}

th{
	color:#FFF;
	text-align: center; 
	background-color: #74c447;
	position: relative;
	line-height: 14px;
	font-size:12px;
	white-space:nowrap;
}


td{
	padding-top:15px;
	border: 0px solid #ccc; 
	text-align: left;
	color:#414141;
	font-weight: normal;
	font-size:12px;
	white-space:nowrap;
}

tr td:nth-of-type(3){
	text-align:center;
}

a#sData.fm-button.btn.btn-default.fm-button-icon-left{
	color:#E4EFC9;
	background-color:#74c447;
}

a#cData.fm-button.btn.btn-default.fm-button-icon-left{
	color:#E4EFC9;
	background-color:#0d94d2;
}


.ui-jqgrid .ui-jqgrid-bdiv{
	position: relative; 
	margin: 0em; 
	padding:0; 
	/*overflow: auto;*/ 
	overflow-x:hidden; 
	overflow-y:auto; 
	text-align:center;
}

span.glyphicon.glyphicon-indent-left{
	display: none;
}

.ui-jqgrid .ui-jqgrid-htable th{
	height: 2em !important;
}

.ui-jqgrid .ui-jqgrid-htable tr{
	height: 3em !important;
}
.ui-jqgrid tr.jqgrow td{
	text-align: center;
	/*padding-top:5px;*/
	padding: 7px 7px 7px !important;
}

.ui-jqdialog {
	display: none;
	width: 300px;
	position: absolute;
	padding: .2em;
	font-size: 10px;
	overflow: visible;
	left: 30% !important;
	top: 15% !important;              
}

.ui-jqgrid .ui-jqdialog {
	font-size: 10px;
}

.ui-jqdialog-content .CaptionTD{
	vertical-align: middle;
	border: 0 none;
	padding: 2px;
	white-space: nowrap;
	font-size:11px;
}

.EditTable td input, .EditTable td select, .EditTable td textarea{
	width: 80%;
	display: inline-block;
}

.modal-content{
	border-top: 16px solid #0d94d2;
	border-bottom:16px solid #0d94d2;
}


.modal-group{
  color: #1DC7EA;
  font-size: 14px;
}

.ui-jqgrid .ui-jqgrid-title {
    padding-top: 5px;
    vertical-align: middle;
    font-weight: 600;
}

.fm-button {
    height: 20px;
    margin: 2px 4px 0 0;
    text-decoration: none !important;
    cursor: pointer;
    position: relative;
    text-align: center;
    zoom: 1;
    display: inline;
}

.ui-jqgrid .ui-jqgrid-titlebar {
	height:25px;
    padding: .3em .2em .2em .3em;
    position: relative;
    font-size: 12px;
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
}

.ui-jqgrid tr.jqgrow td { 
    font-weight: 500;
    overflow: hidden;
    white-space: pre;
    height: 21px;
    padding: 1px 2px 1px 2px;
    border-bottom-width: 1px;
   /*border-bottom-color: inherit;*/
    border-bottom-style: solid;
}

.ui-jqgrid .ui-jqgrid-pager .ui-paging-info, .ui-jqgrid .ui-jqgrid-toppager .ui-paging-info {
    font-weight: normal;
    height: auto;
    margin-top: 3px;
    margin-right: 4px;
    display: block;
}

.ui-jqdialog-content .FormGrid {
    margin: 0;
    overflow: visible;
    position: relative;
}
.modal-body {
    position: relative;
    overflow-y: auto;
    max-height: 630px;
    
}
	
	
	/* mouse over link */
a:hover {
    color: blue;
  	text-decoration: underline;
}